/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  trompblue: #003798,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Lato", "Helvetica Neue", Arial, "Noto Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji" !default;
